*
{
	margin:0px;	
	padding:0px;
}
#main-content
{
	margin-left:150px;
	margin-right:150px;
	min-height: 800px;
	padding:4px;
	background-color: lightgrey;
}
#navbar
{
	width:146px;
	display:block;
	float:left;
}
	#navbar li
	{
		background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 2px 0px 0px 2px;
	}
	#navbar li:hover{
		
		 background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
	}
	
#banner
{
	font-family:Courier;
	font-size: 64px;
	color:white;
	padding-top:20px;
	text-align:center;
	text-shadow: 0px 1px black,1px 0px black, -1px 0px black, 0px -1px black;
	min-height: 100px;
	background: rgba(31,54,229,1);
	background: -moz-linear-gradient(top, rgba(31,54,229,1) 0%, rgba(31,54,229,1) 47%, rgba(72,99,234,1) 95%, rgba(72,99,234,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,54,229,1)), color-stop(47%, rgba(31,54,229,1)), color-stop(95%, rgba(72,99,234,1)), color-stop(100%, rgba(72,99,234,1)));
	background: -webkit-linear-gradient(top, rgba(31,54,229,1) 0%, rgba(31,54,229,1) 47%, rgba(72,99,234,1) 95%, rgba(72,99,234,1) 100%);
	background: -o-linear-gradient(top, rgba(31,54,229,1) 0%, rgba(31,54,229,1) 47%, rgba(72,99,234,1) 95%, rgba(72,99,234,1) 100%);
	background: -ms-linear-gradient(top, rgba(31,54,229,1) 0%, rgba(31,54,229,1) 47%, rgba(72,99,234,1) 95%, rgba(72,99,234,1) 100%);
	background: linear-gradient(to bottom, rgba(31,54,229,1) 0%, rgba(31,54,229,1) 47%, rgba(72,99,234,1) 95%, rgba(72,99,234,1) 100%);
	border-bottom: 2px solid #000010;
}
footer{
	margin-left:150px;
	margin-right:150px;
	font-size:small;
	color:lightgrey;
	text-align: left;
	padding-left:10px;
	
}

/*Für die einzelnen Templates*/
article header
{
	font-size:larger;
	font-style: bold;
}

