*
{
	margin:0px;	
	padding:0px;
}
#main-content
{
	margin-left:150px;
	margin-right:150px;
	min-height: 500px;
	padding:4px;
	background-color: lightgrey;
}
#navbar
{
	width:146px;
	display:block;
	float:left;
}
	#navbar li
	{
		font-size:larger;
		display: block;
		margin:2px;
		background-color:#0000FF;
		width:100%;
		text-align: center;
	}
	#navbar li:hover{
		
		background-color:#FF0000;
	}
	
#banner
{
	font-family:Courier;
	font-size: 64px;
	padding-top:20px;
	background-color: #0000FF;
	text-align:center;
	min-height: 100px;
}
footer{
	font-size:small;
	color:lightgrey;
	text-align: left;
	padding-left:10px;
	width:100%;
}

/*Für die einzelnen Templates*/
article header
{
	font-size:larger;
	font-style: bold;
}

/* Das Spielbrett*/
#board
{
	background-color:  #0000FF;
	width: 560px;
	vertical-align: center;
	margin-left: -50%;
	margin:auto;
}

#board tbody tr td{
	height: 80px;
	background-image: url(../images/empty.png);
	background-position: center;
	background-repeat: no-repeat;
}
#board tbody tr td.yellow{
	background-image: url(../images/yellow.png);
}
#board tbody tr td.red{
	background-image: url(../images/red.png);
}
